include LICENSE
include README.md
include psygnal/py.typed

recursive-exclude * tests
recursive-exclude * benchmarks
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py Makefile make.bat *.jpg *.png *.gif
