site_name: psygnal
site_url: https://github.com/tlambert03/psygnal
site_author: Talley Lambert
site_description: >-
  Pure python callback/event system modeled after Qt Signals

# Repository
repo_name: tlambert03/psygnal
repo_url: https://github.com/tlambert03/psygnal

# Copyright
copyright: Copyright &copy; 2021 - 2022 Talley Lambert

extra_css:
  - stylesheets/extra.css

theme:
  icon:
    logo: material/alarm-light
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      accent: blue grey
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - navigation.instant
    # - navigation.tabs
    # - navigation.top
    # - navigation.tracking
    - search.highlight
    - search.suggest
    # - toc.follow
    # - content.code.annotate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search
  - autorefs
  - minify:
      minify_html: true
  - mkdocstrings:
      watch:
        - src/psygnal
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
          selection:
            docstring_style: numpy
            filters: ["!^_"]
          rendering:
            show_root_heading: true
            # show_root_toc_entry: true
            show_root_full_path: true
            # show_object_full_path: false
            # show_root_members_full_path: false
            # show_category_heading: false
            # show_if_no_docstring: false
            # show_signature: true
            # show_signature_annotations: false
            show_source: true
            # show_bases: true
            # group_by_category: true
            # heading_level: 2
            members_order: alphabetical  # alphabetical/source

            ## experimental
            # separate_signature: false
            # line_length: 60
            # show_submodules: true
            docstring_section_style: list  # or table/list/spacy
