# https://peps.python.org/pep-0517/
[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools-scm>=6.2",
    "mypy_extensions",
    "mypy",
    "pydantic",
    "types-attrs",
]
build-backend = "setuptools.build_meta"

# https://peps.python.org/pep-0621/
[project]
name = "psygnal"
description = "Pure python callback/event system modeled after Qt Signals"
readme = "README.md"
requires-python = ">=3.7"
license = { text = "BSD 3-Clause License" }
authors = [{ name = "Talley Lambert", email = "talley.lambert@gmail.com" }]
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Typing :: Typed",
]
dynamic = ["version"]
dependencies = [
    "typing-extensions",
    "importlib_metadata ; python_version < '3.8'",
]

# extras
# https://peps.python.org/pep-0621/#dependencies-optional-dependencies
[project.optional-dependencies]
build = ["Cython==3.0.0a11;sys_platform != 'win32'"]
dev = [
    "black",
    "cruft",
    "dask",
    "ruff",
    "ipython",
    "mypy",
    "numpy",
    "pre-commit",
    "pydantic",
    "PyQt5",
    "pytest-cov",
    "pytest-mypy-plugins",
    "pytest-qt",
    "pytest",
    "qtpy",
    "rich",
    "wrapt",
]
docs = [
    "griffe==0.22.0",
    "mkdocs-material~=8.3",
    "mkdocs-minify-plugin==0.5.0",
    "mkdocs==1.3.0",
    "mkdocstrings-python==0.7.0",
    "mkdocstrings[python]==0.19.0",
]
proxy = ["wrapt"]
pydantic = ["pydantic"]
test = [
    "Cython==3.0.0a11",
    "dask",
    "numpy",
    "pydantic",
    "pytest-cov",
    "pytest-mypy-plugins",
    "pytest>=6.0",
    "wrapt",
]
testqt = ["PyQt5", "pytest-qt", "qtpy"]

[project.urls]
homepage = "https://github.com/pyapp-kit/psygnal"
repository = "https://github.com/pyapp-kit/psygnal"
documentation = "https://psygnal.readthedocs.io"

# Entry points
# https://peps.python.org/pep-0621/#entry-points
# [project.entry-points."spam.magical"]
# tomatoes = "spam:main_tomatoes"

# https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html
[tool.setuptools]
include-package-data = true
package-data = { "psygnal" = ["py.typed"] }
package-dir = { "" = "src" }
packages = { find = { where = ["src"], exclude = ["tests", "benchmarks"] } }
zip-safe = false

[tool.setuptools.exclude-package-data]
"*" = ["*.c"]

# https://github.com/pypa/setuptools_scm/#pyprojecttoml-usage
[tool.setuptools_scm]

# https://github.com/charliermarsh/ruff
[tool.ruff]
line-length = 88
target-version = "py38"
extend-select = [
    "E",    # style errors
    "F",    # flakes
    "D",    # pydocstyle
    "I001", # isort
    "U",    # pyupgrade
    # "N",  # pep8-naming
    # "S",  # bandit
    "C",    # flake8-comprehensions
    "B",    # flake8-bugbear
    "A001", # flake8-builtins
    "RUF",  # ruff-specific rules
    "M001", # Unused noqa directive
]
extend-ignore = [
    "D100", # Missing docstring in public module
    "D107", # Missing docstring in __init__
    "D203", # 1 blank line required before class docstring
    "D212", # Multi-line docstring summary should start at the first line
    "D213", # Multi-line docstring summary should start at the second line
    "D413", # Missing blank line after last section
    "D416", # Section name should end with a colon
    "C901", # Function is too complex
]

[tool.ruff.per-file-ignores]
"tests/*.py" = ["D"]
"benchmarks/*.py" = ["D"]
"setup.py" = ["D"]


# https://docs.pytest.org/en/6.2.x/customize.html
[tool.pytest.ini_options]
addopts = "--mypy-ini-file=setup.cfg --cov=psygnal --cov-report=term-missing"
minversion = "6.0"
testpaths = ["tests"]
filterwarnings = [
    "error",
    "ignore:The distutils package is deprecated:DeprecationWarning:",
]

# https://mypy.readthedocs.io/en/stable/config_file.html
[tool.mypy]
files = "src/**/"
strict = true
disallow_any_generics = false
disallow_subclassing_any = false
show_error_codes = true
pretty = true

[[tool.mypy.overrides]]
module = ["numpy.*", "cython", "wrapt", "pydantic.*"]
ignore_errors = true

[[tool.mypy.overrides]]
module = "wrapt"
ignore_missing_imports = true

# https://coverage.readthedocs.io/en/6.4/config.html
[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
    "@overload",
    "except ImportError",
]

# https://github.com/cruft/cruft
[tool.cruft]
skip = ["tests"]

# https://github.com/mgedmin/check-manifest#configuration
[tool.check-manifest]
ignore = [
    ".cruft.json",
    ".ruff_cache/**/*",
    ".github_changelog_generator",
    ".pre-commit-config.yaml",
    "tests/**/*",
    "typesafety/*",
    ".devcontainer/*",
    ".readthedocs.yaml",
    "Makefile",
    "asv.conf.json",
    "benchmarks/*",
    "docs/**/*",
    "mkdocs.yml",
    "src/**/*.c",
    "codecov.yml",
    "CHANGELOG.md",
]

# https://python-semantic-release.readthedocs.io/en/latest/configuration.html
[tool.semantic_release]
version_source = "tag_only"
branch = "main"
changelog_sections = "feature,fix,breaking,documentation,performance,chore,:boom:,:sparkles:,:children_crossing:,:lipstick:,:iphone:,:egg:,:chart_with_upwards_trend:,:ambulance:,:lock:,:bug:,:zap:,:goal_net:,:alien:,:wheelchair:,:speech_balloon:,:mag:,:apple:,:penguin:,:checkered_flag:,:robot:,:green_apple:,Other"
# commit_parser=semantic_release.history.angular_parser
build_command = "pip install build && python -m build"


[tool.cibuildwheel]
# Skip 32-bit builds & PyPy wheels on all platforms
skip = ["*-win32", "pp*"]
test-extras = ["test"]
test-command = "pytest {project}/tests -v"
test-skip = "*-musllinux* *-manylinux_i686"


[tool.cibuildwheel.macos]
archs = ["x86_64", "arm64"]
