name: Benchmark cron

on:
  pull_request:
    types: [labeled]
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  benchmarks:
    if: ${{ github.event.label.name == 'run-benchmark' && github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' }}
    name: Benchmarks
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v2
        with:
          installer-url: https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-Linux-x86_64.sh

      - name: install
        run: pip install asv

      - name: Run benchmarks
        run: |
          set -x
          export CONDA_EXE=$(which mamba)

          asv machine --machine "GitHubRunner" --yes

          echo "Baseline:  ${{ github.event.pull_request.base.sha }} (${{ github.event.pull_request.base.label }})"
          echo "Contender: ${GITHUB_SHA} (${{ github.event.pull_request.head.label }})"

          # Run benchmarks for last commit against previous one
          asv continuous --machine "GitHubRunner" --interleave-processes -a processes=2 --split --show-stderr ${{ github.event.pull_request.base.sha }} ${GITHUB_SHA}

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: asv-benchmark-results
          path: .asv/results

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: github.ref == 'refs/heads/main'
        with:
          commit_message: Benchmark Results
          branch: main
          file_pattern: .asv/results

      - name: Build pages
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.email "$GIT_AUTHOR_EMAIL"
          git config --global user.name "$GIT_AUTHOR_NAME"
          asv gh-pages --no-push
          git push -f origin gh-pages:gh-pages
        env:
          GIT_AUTHOR_NAME: ${{ github.actor }}
          GIT_AUTHOR_EMAIL: ${{ github.actor }}@users.noreply.github.com
