name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - "v*"
  pull_request: {}

jobs:
  test-linux:
    name: test py${{ matrix.python-version }} on linux
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install
        run: |
          python -m pip install -U wheel pip
          pip install -e .[testing,build]
        env:
          SKIP_CYTHON: 1

      - name: compile
        run: |
          make build-trace
          python -c "import sys, psygnal; print('compiled:', psygnal._compiled); sys.exit(0 if psygnal._compiled else 1)"
          ls -alh
          ls -alh psygnal/

      - name: test
        run: pytest --color=yes --cov=psygnal

      - name: remove compiled binaries
        run: |
          pip uninstall -y cython
          rm -rf psygnal/*.so psygnal/*.c psygnal/__pycache__
          ls -alh
          ls -alh psygnal/

      - name: test uncompiled without deps
        run: pytest --color=yes --cov=psygnal

      - name: Coverage
        uses: codecov/codecov-action@v1

  test-windows-mac:
    name: test py${{ matrix.python-version }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        platform: [macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install
        run: |
          python -m pip install -U wheel pip
          pip install -e .[testing,build]

      - name: test
        run: pytest --color=yes --cov=psygnal

      - name: Coverage
        uses: codecov/codecov-action@v1

  build:
    name: build py3.${{ matrix.python-version }} on ${{ matrix.platform || matrix.os }}
    needs: [test-linux, test-windows-mac]
    if: "success() && (startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master')"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["7", "8", "9"]
        include:
          - os: ubuntu
            platform: linux
          - os: windows
            ls: dir

    runs-on: ${{ format('{0}-latest', matrix.os) }}
    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: install
        run: pip install -U twine setuptools wheel cibuildwheel

      - name: build sdist
        if: matrix.os == 'ubuntu' && matrix.python-version == '9'
        run: python setup.py sdist bdist_wheel
        env:
          SKIP_CYTHON: 1

      - name: build ${{ matrix.platform || matrix.os }} binaries
        run: cibuildwheel --output-dir dist
        env:
          PIP: "pip"
          CIBW_BUILD: "cp3${{ matrix.python-version }}-*"
          CIBW_SKIP: "*-win32"
          CIBW_PLATFORM: "${{ matrix.platform || matrix.os }}"
          CIBW_BEFORE_BUILD: "pip install -U cython"
          CIBW_TEST_REQUIRES: "pytest"
          CIBW_TEST_COMMAND: "pytest {project}/tests"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux2014"
          CIBW_MANYLINUX_I686_IMAGE: "manylinux2014"

      - name: list dist files
        run: |
          ${{ matrix.ls || 'ls -lh' }} dist/
          twine check dist/*

      - name: Store dist artifacts
        uses: actions/upload-artifact@v2
        with:
          name: pypi_files
          path: dist

  deploy:
    name: Deploy
    needs: build
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: get dist artifacts
        uses: actions/download-artifact@v2
        with:
          name: pypi_files
          path: dist

      - name: install
        run: pip install -U twine

      - name: twine check
        run: |
          twine check dist/*
          ls -lh dist

      - name: upload to pypi
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
