name: Publish to PyPI

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

jobs:
  main:
    if: startsWith(github.event.ref, 'refs/tags/v')
    name: sdist + pure wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up latest Python
        uses: actions/setup-python@v5
        with:
          python-version: "*"

      - name: Install latest pip, build, twine
        run: |
          python -m pip install --upgrade --disable-pip-version-check pip
          python -m pip install --upgrade build twine

      - name: Build wheel and source distributions
        run: python -m build

      - name: Upload to PyPI via Twine
        env:
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: twine upload --verbose -u '__token__' dist/*

      - uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

  mypyc:
    name: mypyc wheels (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: linux-x86_64
          - os: windows-2019
            name: windows-amd64
          - os: macos-11
            name: macos-x86_64
            macos_arch: "x86_64"
          - os: macos-14
            name: macos-arm64
            macos_arch: "arm64"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build wheels via cibuildwheel
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_ARCHS_MACOS: "${{ matrix.macos_arch }}"

      - name: Upload wheels as workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}-mypyc-wheels
          path: ./wheelhouse/*.whl

      - name: Upload wheels to PyPI via Twine
        if: startsWith(github.event.ref, 'refs/tags/v')
        env:
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: pipx run twine upload --verbose -u '__token__' wheelhouse/*.whl
